<div ng-controller="HomeController">
  <div class="row">
    <div class="col s12">
      <h5>Event Organizer</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s8">
      <h4 class="list_header">
        <p>1. Schedule an event.</p>
        <p>2. Create A list of what you need.</p>
        <p>3. Link the event to guests.</p>
        <p>4. Have them bring it!</p>
        <p> Click <a href="#/events/demo" class="btn-floating btn-large waves-effect waves-light light-blue accent-1"><i class="material-icons">wallpaper</i></a> to view a sample.</p>
        <p> Click <a href="#/events/new" class="btn-floating btn-large waves-effect waves-light light-blue accent-1"><i class="material-icons">add</i></a> to create your own event!</p> 
      </h4>
    </div>
  </div>
</div>